@model E_Ticaret_Giyim.Models.EMAIL

@{
    ViewBag.Title = "CevapVer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <fieldset>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Kime: <span>*</span></label>
                <input class="form-control" id="who" name="who" type="text" value="@Model.Special2" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Konu: <span>*</span></label>
                <input class="form-control" id="subject" name="subject" type="text" value="" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Mesaj: <span>*</span></label>
                <textarea class="form-control" id="text" name="text" rows="3" cols="40" required></textarea>
            </div>
        </div>
    </fieldset>
    <button class="btn-normal btn-color submit  bottom-pad" id="buton" type="submit">Send</button>
    <div class="success alert-success alert" style="display:none">Your message has been sent successfully.</div>
    <div class="error alert-error alert" style="display:none">E-mail must be valid and message must be longer than 100 characters.</div>
    <div class="clearfix">
    </div>


